<?xml version="1.0"?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 0.5"
"http://jpf.sourceforge.net/plugin_0_5.dtd">
<!-- +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
<!-- This plugin defines NuSMV Implicit Extension provided       -->
<!-- for GNA module.                                             -->
<!-- +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
<plugin id="gna.mc.nusmv.implicit" version="1.3.0">
  <!-- The 'requires' section allow to indicates required plugins       -->
  <!-- In this sample, main plugin and GenoAnnot plugins are required -->
  <requires>
    <import plugin-id="iogma.core.platform"/>
    <import plugin-id="iogma.gna"/>
  </requires>
  <!-- The 'requires' section allow to indicates the provided jar of the plugin -->
  <runtime>
    <library id="mc_nusmv_implicit_jar" path="bin/gna.mc.nusmv.implicit.jar" type="code">
      <export prefix="*"/>
    </library>
  </runtime>
  <!-- Here is the description of the extension provided by the plugin -->
  <extension plugin-id="iogma.gna" point-id="MCWriter"
     id="NuSMVImplicitWriter">
    <parameter id="class" value="gna.mc.nusmv.implicit.NuSMVImplicitWriter" />
  </extension>
</plugin>
