<?xml version="1.0"?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 0.5"
  "http://jpf.sourceforge.net/plugin_0_5.dtd">
<!--
  Describe the GNA plugin.
  It provides GNA module.
  -->
<plugin id="iogma.gna" version="8.4.0">

  <requires>
    <import plugin-id="iogma.core.platform" />
  </requires>

  <extension plugin-id="iogma.core.platform" point-id="ICModule"
             id="GnaModule">
    <parameter id="name" value="GNA"/>
    <parameter id="class" value="gna.gui.module.GnaModule"/>
    <parameter id="uiname" value="GNA"/>
  </extension>
	
  <extension plugin-id="iogma.core.platform" point-id="HelpLocation" 
             id="iogma.gna.jhelp">
    	<parameter id="helpLocation" value="docs/javahelp/jhelpset.hs" />
  </extension>
  
  <extension-point id="MCWriter">
	<parameter-def id="class" />
  </extension-point>

</plugin>
