body {
  font-family         : Arial, Helvetica, sans-serif;
  font-size           : 13px;
  color               : #000000;
  background-color    : #FFF;
  text-decoration     : none;
  margin              : 0px;
  padding             : 0px;
}

a, a:visited, a:link {
  color               : #16378A;
  text-decoration     : underline;
}
a:hover, a:active {
  text-decoration     : none;
}

a img {
  border              : none;
}

img {
  vertical-align      : text-bottom;
  max-width           : 100%;
}

p, h1, h2, h3, h4, h5, div.table, div.informalequation {
  margin         : 0px 10px 13px 10px;
}

h1 { /* book title */
  font-family         : Arial, Helvetica, sans-serif;
  font-size           : 26px;
  font-weight         : bold;
  color               : #921841;
  padding             : 0px;
  text-align          : center;
}

div.chapter h2, div.article h2 { /* chapter or article title */
  font-family         : Arial, Helvetica, sans-serif;
  font-size           : 26px;
  font-weight         : bold;
  color               : #37519B;
  padding             : 2px;
  background-color    : #E5E5E5;
}

div.section h2 { /* section level 1 title */
  font-family         : Arial, Helvetica, sans-serif;
  font-size           : 18px;
  font-weight         : normal;
  color               : #921841;
  border-bottom       : 1px solid #37519B;
  padding             : 0px;
  background-color    : transparent;
}

h3 { /* section level 2 title */
  font-family         : Arial, Helvetica, sans-serif;
  font-size           : 16px;
  font-weight         : bold;
  color               : #A7A9F4;
}

h4 { /* section level 3 title */
  font-family         : Arial, Helvetica, sans-serif;
  font-size           : 12px;
  font-weight         : bold;
  color               : black;
  text-decoration     : none;
}

td {
  font-family         : Arial, Helvetica, sans-serif;
  font-size           : 12px;
}

ul, ol, dl {
  margin              : 0px 0px 0px 15px;
  padding             : 0px;
}

li {
  margin              : 2px 0px 2px 16px;
  padding             : 0px;
}

ul li {
  list-style-type     : square;
}

form {
  border              : 0px;
  margin              : 0px;
  padding             : 0px;
}

hr { /* use template hr.replacement for separators */
  display             : none;
}

span.guimenu, span.guisubmenu, span.guimenuitem, span.guibutton, span.guiicon, span.guilabel {
  font-weight         : bold;
}

div.table, div.informaltable {
  text-align          : center;
}

table {
  margin-left         : auto;
  margin-right        : auto;
  border              : 1px solid #37519B;
  border-collapse     : collapse;
}

tr, td, th, thead, tfoot {
  border              : none;
}

thead tr {
  background-color    : #9999B7;
}

tfoot tr {
  background-color    : #E5E5E5;
}

table.simplelist {
  margin-left         : 0px;
  margin-right        : 0px;
  border              : none;
}

div.figure {
  margin              : 0px 10px 13px 10px;
}

div.figure p.title { /* figure titles */
  text-align          : center;
  font-weight         : bold;
  max-width           : 950px;
  margin-right        : auto;
  margin-left         : auto;
  clear               : both;
}

div.note {
  border: 1px solid black;
  background-color: #ECECEC;
  margin: 3px 3px 3px 3px;
  padding-right: 3px;
}

div.note h3 {
  color: #000000;
  font-size: 11px;
  margin-left: 5px;
  margin-bottom: 0.5em;
}

div.note p {
  margin-left: 1em;
}

div#banner { /* top banner */
  background-color    : #506EB3;
  height              : 127px;
  background-image    : url(images/banner.png);
  background-repeat   : no-repeat;
  background-position : top center;
}

/* table of contents */
div.toc, div.list-of-figures, div.list-of-tables, div.list-of-examples {
  margin              : 30px 10px 13px 10px;
}

/* program listing, sidebar */
pre, div.sidebar {
  color               : #838383;
  border-left         : 3px solid #D0D0D0;
  margin-left         : 30px;
  padding-left        : 10px;
  padding-right       : 20px;
}

div.informalequation {
  text-align          : center;
}

div.navigationmenu {
  width               : 100%;
  height              : 40 px;
}

div.navigation_bgleft {
  background-image    : url(images/hr-left.png);
  background-repeat   : no-repeat;
  width               : 11px;
  height              : 40px;
  float               : left;
}

div.navigation_bgmiddle {
  background-image    : url(images/hr-middle.png);
  background-repeat   : repeat-x;
  height              : 40px;
  margin-left         : 11px;
  margin-right        : 11px;
}

div.navigation_bgright {
  background-image    : url(images/hr-right.png);
  background-repeat   : no-repeat;
  width               : 11px;
  height              : 40px;
  float               : right;
}

p.navigation_current_title {
  text-align          : center;
  font-size           : 16px;
}

div.navigation_titles {
  position            : relative;
  top                 : -32px;
  padding-left        : 20px;
  padding-right       : 20px;
}

div.button {
  background-image    : url(images/button.jpg);
  width               : 85px;
  height              : 25px;
  text-align          : center;
  vertical-align      : center;
}

div.prevbutton {
  margin-left         : 20px;
  float               : left;
  position            : relative;
  top                 : -32px;
}

div.nextbutton {
  margin-right        : 20px;
  float               : right;
  position            : relative;
  top                 : -32px;
}

div.upbutton {
  margin-left         : auto;
  margin-right        : auto;
  position            : relative;
  top                 : -32px;
}

div.homebutton {
  margin-left         : auto;
  margin-right        : auto;
  position            : relative;
  top                 : -32px;
}

div.menubuttons {
  margin-left         : auto;
  margin-right        : auto;
  width               : 180px;
  position            : relative;
  top                 : -32px;
}

div.button a, div.button a:visited, div.button a:link {
  font-size           : 16px;
  text-decoration     : none;
}

div.button a:hover, div.button a:active {
  font-weight         : bold;
  color               : #921841;
  text-decoration     : none;
}